.header {
  display: inline-block;
  background-color: #6453ee34;
  height: 8vh;
  width: 100%;
  text-align: center;
}

.ul {
  padding-top: 10px;
  list-style: none;
}

.li {
  text-align: center;
  display: inline;
  margin: 30px 20px;
  padding: 10px 15px;
  border-radius: 0;
  border: 4px dashed #6663ee54;
}


.link {
  text-decoration: none;
}
